fastapi
uvicorn[standard]
python-jose[cryptography]
pydantic-settings
qdrant-client
sqlalchemy
psycopg2-binary
alembic
pypdf
python-multipart
sentence-transformers
groq
python-dotenv
easyocr
opencv-python-headless
numpy
python-multipart